#clientRegister{
    background-color: $dark-blue-color;
    padding: 40px;
    form{
        padding: 18px;
        background-color: #bfc2c7;
        background-color: $gray-color;
        border-radius: 10px;
        input{
            border-color: $dark-blue-color;
            background-color: rgba(255, 255, 255, 0.5);
            &:focus{
                box-shadow: none;
            }
        }
        select{
            border-color: $dark-blue-color;
            background-color: rgba(255, 255, 255, 0.5);
            &:focus{
                box-shadow: none;
            }
        }
        legend{
            color: rgb(255, 255, 255);
            padding: 8px 0;
        }
        button{
            border: none;
            background-color: $orange-color !important;
        }
    }
}