#aboutUs{
    padding: 120px 0;
    .aboutImg{
        position: relative;
        width: 80%;
            height: 600px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .image_circle{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 290px;
            height: 290px;
            border-radius: 50%;
            right: -33%;
            bottom: 55px;
            border: 20px solid rgba(255, 255, 255, 0.50);

            .red_div{
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background-color: $orange-color;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                h2{
                    color: #FFFFFF;
                    font-family: "Manrope", Sans-serif;
                    font-size: 54px;
                    font-weight: 700;
                    line-height: 70px;
                }
                h6{
                    color: #FFFFFF;
                    font-family: "Manrope", Sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 20px;
                }
            }
        }
        .image_stars{
            padding: 24px 20px;
            text-align: center;
            background-color: #FFFFFF;
            position: absolute;
            left: 0;
            top: 60px;
            width: 50%;
            height: 100px;
            .stars{
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                svg{
                    fill: #FFBA09;
                    width: 18px;
                    height: 18px;
                }

            }
            h6{
                color: #141417;
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
            }
        }
    }
    .aboutText{
        padding: 0 0 0 50px;
        h6{
            color: $orange-color;
            font-family: "Manrope", Sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            margin-bottom: 15px;
        }
        h2{
            color: #141417;
            font-family: "Manrope", Sans-serif;
            font-size: 40px;
            font-weight: 800;
            line-height: 52px;
            margin-bottom: 20px;
        }
        p{
          color: #7A7A7A;  
          font-weight: 400;
    margin: 0px;
        }
        ul{
            margin: 40px 0;
            li{
                margin: 20px 0;
                list-style: none;
                display: flex;
                gap: 15px;
                .icon{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    color: $orange-color;
                    background-color: #fc752426;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        width: 45px;
                        height: 45px;
                    }
                }
                .text{
                    width: 80%;
                }
            }
        }
        button{
            background-color: $orange-color;
            color: $white-color;
            padding: 18px 35px;
            border: none;
        }
    }
}