$cyan-color : #00b19f;
$primary-blue-color : #3089c5;
$dark-blue-color : #162b38;
$gray-color : #383f43;
$orange-color : #fc7524;
$white-color : #fff;
$black-color : #000;

$inter_font : "Inter", sans-serif;
$manrope_font :"Manrope", sans-serif;