#company{
    .user_loan_profile{
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            img{
                width: 50px;
                height: 50px;

            }
            .text{
                h2{
                    color: #000;
                    text-transform: capitalize;
                    font-family: "Manrope", Sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 70px;
                }
                p{
                    color: #7A7A7A;  
                    font-weight: 400;
              margin: 0px
                }
            }
        }
        .loan_box{
            display: flex;
            background-color: #f5f7fa;
    width: 100%;
height: 100%;
    padding: 20px 40px;
    .text{
        width: 33%;
    }
        }
    }
    .company_reguests{
        h1{
            font-size: 30px;
            margin: 0 0 25px;
        }
        .activity{
            margin-bottom: 15px;
            display: flex;
            border-bottom: 1px solid $orange-color;
            ul{
                width: 30%;
                li{
                    font-size: 15px;
                    margin: 5px 0;
                }
            }
            form{
                width: 40%;
                div{
                    label{
                        width:50%;

                    }
                    input{
                        margin: 4px 0;
                        padding: 5px 10px;
                        width: 50%;
                        border: none;
                        border-bottom: 1px solid $gray-color;
                    }
                }
            }
            .btns{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .btn-success{
                    background-color: $cyan-color;
                    transition: .5s all;
                    &:hover{
                        background-color: $dark-blue-color;
                    }
                }
                .btn-danger{
                    background-color: $orange-color;
                    transition: .5s all;
                    &:hover{
                        background-color: rgb(238, 44, 10);
                    }
                }
            }
        }
    }
}