*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box

}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import "./partials/variables";
@import "./base/reset";
@import "./layout/clientHeader";
// Components
@import "./components/hero";
@import "./components/abouUs";
// Register / Login
@import "./pages/client/register/register";
@import "./pages/client/login/login";
// dashboard
@import "./pages/client/User/loanForm";
@import "./pages/client/User/userDashboard";
@import "./pages/client/User/paymentForm";
@import "./pages/client/home/_companyDashboard.scss";
// Home
@import "./pages/client/home/homeSlider";
@import "./pages/client/home/news";
@import "./pages/client/home/calcuator";
@import "./pages/client/home/ourservices";


// Blogs
@import "./pages/client/blogs/blogCards";
@import "./pages/client/blogs/blogDetail";


// Footer
@import './layout/footer'