*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box

}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import "./partials/variables";
@import "./base/reset";
@import "./layout/clientHeader";
// Components
@import "./components/hero";
@import "./components/abouUs";
// Register
@import "./pages/client/register/register";
// dashboard
@import "./pages/client/User/userDashboard";
// Home
@import "./pages/client/home/homeSlider";
<<<<<<< HEAD
@import "./pages/client/home/news";
=======
@import "./pages/client/home/calcuator";
>>>>>>> 9aba7c66deca0a3dff5648769b1e98d4b5974fd3

// Blogs
@import "./pages/client/blogs/blogCards";
@import "./pages/client/blogs/blogDetail";