*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box

}

@import "./partials/variables";
@import "./layout/clientHeader";
// Components
@import "./components/hero";
@import "./components/abouUs";
// Register
@import "./pages/client/register/register";
// dashboard
@import "./pages/client/User/userDashboard";
// Home
@import "./pages/client/home/homeSlider";